.links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: auto;
}

.navigation {
  display: flex;
  width: 100%;
  height: 74px;
  color: #f6fbfb;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.extraLinks {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: auto;
  padding-left: 4rem;
}

.header {
  font-size: 96px;
  font-weight: 400;
  text-align: left;
  color: #dae6e6;
  line-height: 96px;
}

.paragraph {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #dae6e6;
  line-height: 26px;
}

.heroImg {
  border-radius: 50%;
}

.sectionTwo {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-direction: column;
}

/* SECTION ONE */

.sectionOne {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.sectionMiddle {
  display: flex;
  flex-direction: column;
}

.sectionMiddleButton {
  max-width: 218px;
  background-color: #eeff33;
  padding: 8px 24px 8px 24px;
  border-radius: 37px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  line-height: 26px;
}

/* END OF SECTION ONE */
