.nav {
  display: flex;
  height: 74px;
  color: #f6fbfb;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: auto;
}

.extraLinks {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-left: auto;
  padding-left: 4rem;
}

.sectionOne {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.item {
  flex: 1 1 0;
  width: 0;
}

.header {
  font-size: 96px;
  font-weight: 400;
  text-align: left;
  color: #dae6e6;
  line-height: 96px;
}

.paragraph {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #dae6e6;
  line-height: 26px;
}

.heroImg {
  border-radius: 50%;
}

.sectionMiddle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.sectionMiddleButton {
  width: 50%;
  background-color: #eeff33;
  padding: 8px 24px 8px 24px;
  border-radius: 37px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  line-height: 26px;
}

.sectionTwo {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-direction: column;
}
